   <!-- Sidebar Menu -->
   <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-list"></i>
              <p>
                Inventario
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Categoria</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Producto</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Ajuste Inventario</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Stock</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a routerLink="/admin/" class="nav-link">
              <i class="nav-icon fa fa-shopping-cart"></i>
              <p>
                Compra
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-file-o"></i>
              <p>
                Gestion de Proyectos
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Proyecto</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Fases</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Duración</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Actividades</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Personal</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Rol</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Gerentes de Proyectos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Directores de Proyectos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Restriciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Control de Riesgos</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-shopping-basket"></i>
              <p>
                Venta
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Lista de Ventas</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Facturar</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Pedidos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Procesar Pedidos</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a routerLink="/admin/" class="nav-link">
              <i class="nav-icon fa fa-calculator"></i>
              <p>
                Gastos
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-archive"></i>
              <p>
                Regreso
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Venta</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Compra</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-university"></i>
              <p>
                Contabilidad
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Cuentas</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Hoja de Balance</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Estado de Cuenta</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Anexos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Anexo ICE</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Retenciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Bienes</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Servicios</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Creditos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Asiento de Caja</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                HRM
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Departamento</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Empleado</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Asistencia</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Rol de Pagos</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Vacaciones</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Personas
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Usuarios</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Cajero</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Clientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Proveedores</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i>
              <p>
                Ajustes
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Roles</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Bodega</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Marca</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Unidad</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Impuesto</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Formulario</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Codigo de Formulario</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/" class="nav-link">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Perfil de Usuario</p>
                </a>
              </li>
            </ul>
          </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
